# Learn how to add code owners here:
# https://help.github.com/articles/about-code-owners

* @iCrawl

package.json @discord.self/core
pnpm-lock.yaml @discord.self/core

/.github/ISSUE_TEMPLATE/ @discord.self/guide @discord.self/core

/apps/guide/ @discord.self/website @discord.self/guide
/apps/guide/content/ @discord.self/guide
/apps/website/ @discord.self/website

/packages/actions/ @discord.self/actions
/packages/api-extractor/ @discord.self/api-extractor-utils
/packages/api-extractor-model/ @discord.self/api-extractor-utils
/packages/api-extractor-utils/ @discord.self/api-extractor-utils
/packages/collection/ @discord.self/collection
/packages/core/ @discord.self/core
/packages/create-discord-bot/ @discord.self/guide
/packages/discord.js/ @discord.self/core
/packages/docgen/ @iCrawl
/packages/formatters/ @discord.self/formatters
/packages/rest/ @discord.self/rest
/packages/scripts/ @discord.self/scripts
/packages/util/ @discord.self/util
/packages/voice/ @discord.self/core
/packages/ws/ @discord.self/ws
